name: face_recognition
description: "A new Flutter project."

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ^3.10.3

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  camera: 0.11.3
  google_mlkit_face_detection: 0.13.1
  fluttertoast: ^9.0.0
  face_auth_engine:
    git:
      url: https://github.com/andikatp/face_auth_engine.git
      ref: main
  image: ^4.5.1
  get_it: ^9.2.0
  tflite_flutter: ^0.12.1
  sqflite: ^2.4.2
  path: ^1.9.1
  image_picker: ^1.2.1
  provider: ^6.1.5+1
  firebase_core: ^4.3.0
  cloud_firestore: ^6.1.1
  lottie: ^2.7.0
  shared_preferences: ^2.5.4
  screen_brightness: ^2.1.7
  path_provider: ^2.1.5
  equatable: ^2.0.7
  collection: ^1.19.1
  plugin_platform_interface: ^2.1.8

dependency_overrides:
  archive: ^4.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/models/
    - assets/animations/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
